// **************************************************************************
// QuizCard
.quiz-card {
  @include animate(moveInBottom);

  &__question {
    border: 1px solid $color-black;
    border-radius: 7px;
    height: 500px;
    width: 800px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 90px;
  }

  &__answer-button {
    margin: 5px 20px;
  }
}

// **************************************************************************
// answer feedback
.correct {
  background-color: $color-green;
}

.not-correct {
  background-color: $color-red;
}
