// **************************************************************************
// Common - UI Button
button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 30px;
  opacity: 0.6;
  transition: transform 0.3s ease-in 0.1s;

  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  &:active {
    transform: translateY(10px);
  }
}

// **************************************************************************
// QuizCard
.quiz-card {
  @include animate(moveInBottom);

  &__question {
    border: 1px solid $color-black;
    border-radius: 7px;
    height: 500px;
    width: 800px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 90px;
  }

  &__correct {
    background-color: $color-green;
  }

  &__wrong {
    background-color: $color-red;
  }

  &__answer-button {
    margin: 5px 20px;
  }
}

// **************************************************************************
// AnswerResult
.answer-result {
  display: flex;
  align-items: center;
  padding: 40px 0;

  &__icon {
    font-size: 80px;
    padding-right: 30px;
  }

  &__correct {
    padding: 0 20px;
    border-right: 3px solid $color-green;
  }

  &__wrong {
    padding: 0 20px;
    border-right: 3px solid $color-red;
  }

  &__question-container {
    display: flex;
    flex-direction: column;
  }
}
