// **************************************************************************
// HomeScreen
.home {
  @include animate(moveInTop);
  font-size: 28px;

  &__header {
    font-size: 40px;
  }

  &__directions {
    padding: 20px;
    font-weight: 300;
  }
}

// **************************************************************************
// ResultScreen
.result-screen {
  @include animate(moveInRight);

  font-size: 28px;

  &__score {
    font-size: 40px;
  }

  &__button {
    margin-bottom: 20px;
  }
}

// **************************************************************************
// LoadingScreen
.loading-screen {
  justify-content: center;

  &__spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $color-blue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }
}

// **************************************************************************
// ErrorScreen
.error-screen {
  justify-content: center;

  &__message {
    padding-bottom: 20px;
  }
}
