// **************************************************************************
// HomeScreen
.home {
  @include animate(moveInTop);
  font-size: 28px;

  &__header {
    font-size: 40px;
  }

  &__directions {
    padding: 20px;
    font-weight: 300;
  }
}

// **************************************************************************
// ResultScreen
.result-screen {
  @include animate(moveInRight);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  font-size: 28px;

  &__score {
    font-size: 40px;
  }
}

// **************************************************************************
// LoadingScreen
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $color-blue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }
}
